
		body {
		background-color: lightcyan;
		}

		h1 {
		  text-color: black;
		  text-align: center;
		}

		h2 {
		  color: black;
		  text-align:center;
		}
		
		h3 {
		  color: black;
		  text-align: center;
		}
		.row1{
			display:flex;
		}
		.row2{
			display:flex;
		}
		.gallery{
			display:flex;
			width:100%;
		}
