
		body {
		background-color: lightpink;
		 {

		h1 {
		  text-color: black;
		  text-align: center;
		}

		h2 {
		  color: black;
		  text-align: center;
		}
		
		h3 {
		  color: black;
		  text-align: center;
		}
		